<form class="unit-sheet flexcol" autocomplete="off">
	<div class="unit-name flexrow">
		<h2>{{name}}</h2>
	</div>
	<div class="keywords flexrow">
        {{#each optMenus as |menu|}}
        	<div class="keyword" data-menu-name={{menu.optionName}}>
        		<input class="keyword-label" name="{{menu.optionName}}" id="{{menu.optionName}}" type="text" value="{{menu.currentValue}}" data-control="{{menu.optionName}}"/>
        		<div class="keyword-options {{#if menu.visible}}active{{/if}}">
        			{{#each menu.optionValues as |val|}}
        				<a data-keyword-value="{{val}}" data-keyword-category={{menu.optionName}}>{{val}}</a>
        			{{/each}}
        		</div>
        	</div>
        {{/each}}
	</div>
	<div class="flexrow">
		<div class="scores flexcol">
			<div class="score-row flexrow">
	            <div class=score-entry>
	                <h4 class="score-header rollable" data-roll-formula="1d20 + {{attributes.attack}}">Attack</h4>
					<input class=score-input name="attributes.attack" type="text" value="{{attributes.attack}}" data-dtype="Number">
	            </div>
	            <div class=score-entry>
	                <h4 class="score-header">Defense</h4>
					<input class=score-input name="attributes.defense" type="text" value="{{attributes.defense}}" data-dtype="Number">
	            </div>
			</div>
			<div class="score-row flexrow">
	            <div class=score-entry>
	                <h4 class="score-header rollable" data-roll-formula="1d20 + {{attributes.power}}">Power</h4>
					<input class=score-input name="attributes.power" type="text" value="{{attributes.power}}" data-dtype="Number">
	            </div>
	            <div class=score-entry>
	                <h4 class="score-header">Toughness</h4>
					<input class=score-input name="attributes.toughness" type="text" value="{{attributes.toughness}}" data-dtype="Number">
	            </div>
			</div>
			<div class="score-row flexrow">
	            <div class=score-entry>
	                <h4 class="score-header rollable" data-roll-formula="1d20 + {{attributes.morale}}">Morale</h4>
					<input class=score-input name="attributes.morale" type="text" value="{{attributes.morale}}" data-dtype="Number">
	            </div>
	            <div class=score-entry>
	                <h4 class="score-header">Size</h4>
					<input class=score-input name="selectedOptions.size" type="text" value="{{selectedOptions.size}}">
	            </div>
			</div>
		</div>
	</div>
	<div class="trait-list flexrow">
		<h4>Traits</h4>
		<ul>
			{{#each traits as |trait|}}
				<li class="trait">
					<span class="trait-label">{{trait.label}}.</span>
					<span class="trait-body">{{trait.description}}</span>
				</li>
			{{/each}}
		</ul>
	</div>
</section>


















